.cabeçalho{background-color: #C60909; color: white; display: flex; justify-content: space-around;}
.imagem-logo{width: 80px;}
.cabeçalho-lista{display: inline-block; margin: 0 16px;}
.site{background-color: rgba(255, 255, 255, 0.671);color: #ff0000;}
.imagem-jogadores{width: 180px; height: 130px;}
.rodape{background-color: #C60909; color: white; display: flex; justify-content: space-around;}
.jogadores-div{display: inline-block;}
.clube{text-align: center; font-weight: 700; font-size: 20px;}
.jogadores{text-align: center;}